// COLORS
$black: #000000;
$grey: #dbdbdb;
$white: #FFFFFF;
$transparent-white: rgba(255, 255, 255, 0.65);
$error-red: #F66359;
$success-green: #2FB986;
$info-blue: #46A8F5;
$warning-yellow: #FFAA2C;
$light-info-blue: #d2ebff;